<section [ngClass]="{ 'edit-mode' : editMode }" class="single-todo">
  <mat-card>
    <section class="todo">
      <section class="todo-content">
        <mat-radio-button @inOutAnimation *ngIf="todoIsAvailable()" matTooltip="Marcar tarefa como completa"
          (click)="completeTodo()">
        </mat-radio-button>
        <p *ngIf="!editMode" [ngClass]="{ 'todo-complete' : isComplete }">{{ todo.content }}</p>
        <mat-form-field *ngIf="editMode">
          <input (change)="updateCurrentContent($event.target.value)" matInput [value]="todo.content">
        </mat-form-field>
      </section>
      <section class="todo-actions">
        <button (click)="saveChanges()" matTooltip="Salvar tarefa" *ngIf="editMode" mat-button>
          <mat-icon>done</mat-icon>
        </button>
        <button (click)="discardChanges()" matTooltip="Cancelar atualização" *ngIf="editMode" mat-button>
          <mat-icon>clear</mat-icon>
        </button>
        <button (click)="editTodo()" matTooltip="Editar tarefa" *ngIf="todoIsAvailable()" mat-button>
          <mat-icon>create</mat-icon>
        </button>
        <button matTooltip="Fixar tarefa" *ngIf="todoIsAvailable()" mat-button>
          <mat-icon>push_pin</mat-icon>
        </button>
        <button (click)="completeTodo()" matTooltip="Voltar tarefa para pendente (precisa de autorização)"
          *ngIf="isComplete" mat-button>
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </section>
    </section>
    <section class="author">
      <small>{{ todo.createdByName }} @<span>{{ todo.createdByEmail }}</span></small>
    </section>
  </mat-card>