<h1 mat-dialog-title>Para mudar o status da tarefa para {{ data.option.toUpperCase() }}, favor inserir senha de
  supervisor.
</h1>
<small>Favor notar que você só pode efetuar essa operação mais {{ getAvailableActionNumber() }} {{
  getAvailableActionNumber() === 1 ? 'vez' :
  'vezes'
  }}.</small>
<div mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="validatePassword()">
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input type="password" matInput #password formControlName="password" required>
      <span matSuffix>
        <button mat-button (click)="toggleInputVisibility(password)">
          <mat-icon *ngIf="!inputIsVisible">visibility_off</mat-icon>
          <mat-icon *ngIf="inputIsVisible">visibility</mat-icon>
        </button>
      </span>
    </mat-form-field>
    <div *ngIf="!passwordForm.controls.password.pristine && !passwordIsValid && passwordChecked">
      <mat-error>
        <mat-icon>warning</mat-icon> Senha inválida!
      </mat-error>
    </div>
    <div mat-dialog-actions>
      <button color="primary" mat-button type="submit" [disabled]="passwordForm.invalid">Enviar</button>
    </div>
  </form>
</div>