<h1 mat-dialog-title>Para mudar o status da tarefa para PENDENTE, favor inserir senha de supervisor.</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input type="password" matInput #password>
    <span matSuffix>
      <button mat-button (click)="toggleInputVisibility(password)">
        <mat-icon *ngIf="!inputIsVisible">visibility_off</mat-icon>
        <mat-icon *ngIf="inputIsVisible">visibility</mat-icon>
      </button>
    </span>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="validatePassword(password)">Enviar</button>
</div>